body {
  background-color: #222;
  color: #eee;
  max-width: 400px;
  margin: auto;
}

h1, h2, h3 {
  font-family: Didot, serif;
  margin-bottom: 0;
}

p, li {
  font-family: "Trebuchet MS", sans-serif;
}

.description {
  font-size: 14px;
  margin: 1em;
  padding: 0 1em;
}

#contact {
  font-family: Verdana;
  color: lavender;
  padding: 8px;
  border: 1px solid lavender; 
}